<div>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet ex culpa,
    perferendis modi odio neque dolorem provident id sint minima repellendus
    praesentium dolores ratione excepturi ipsam quis, totam nesciunt, rem quidem
    ad reiciendis saepe!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero velit dolorum
    consequuntur amet sapiente fuga nobis sed dignissimos in, tenetur delectus
    dicta atque rerum. Quisquam cumque quibusdam soluta quasi reiciendis!
  </p>
</div>